.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.content {
    margin: auto;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}

@media (min-width: 960px) {
    .content {
        width: 960px;
    }
}
