@page "/"

<PageTitle>ZeroOneX</PageTitle>

<InputRadioGroup @bind-Value="operation">
    <div style="align-content: center; display: flex; justify-content: center;">
        <p>
            <label>
                <InputRadio Value="Operation.ZeroOneXToZeroOneZero"/>
                01X 번호 변환
            </label>
            <label>
                <InputRadio Value="Operation.ZeroOneZeroCarrier"/>
                010 번호 통신사 확인
            </label>
        </p>
    </div>
</InputRadioGroup>

@if (operation == Operation.ZeroOneXToZeroOneZero) {
    <ZeroOneXToZeroOneZero />
} else {
    <ZeroOneZeroCarrier />
}

@code {

    private Operation operation = Operation.ZeroOneXToZeroOneZero;

    private enum Operation {
        ZeroOneXToZeroOneZero,
        ZeroOneZeroCarrier
    }

}
